<html xmlns:th="www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Cadastro de Correntistas</title>
</head>
<body>
	<h1>Cadastro de Correntista</h1>

	<div th:text="${mensagem}" style="color: red"></div>

	<table border="1">
		<thead>
			<tr>
				<th>Nome</th>
				<th>Email</th>
				<th>Admin</th>
				<th>Senha</th>
			</tr>
		</thead>
		<tbody>
			<tr th:each="correntista : ${correntistas}">
				<td th:text="${correntista.nome}"></td>
				<td th:text="${correntista.email}"></td>
				<td th:text="${correntista.admin}"></td>
				<td th:text="${#strings.substring(correntista.senha,0,3)} + '...'"></td>
			</tr>
		</tbody>
	</table>
</body>
</html>
